<!-- Card Change Password -->
<div class="card mt-4 pb-4" id="password">
    {{ form_start(passwordForm, { 'attr': {'id': 'password-form'} }) }}
        <div class="card-header">
            <h5>Change Password</h5>
        </div>
        <div class="card-body pt-0">
            <div class="input-group input-group-outline">
                {{ form_label(passwordForm.currentPassword) }}
                {{ form_widget(passwordForm.currentPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(passwordForm.currentPassword) }}
            </div>
            <div class="input-group input-group-outline my-4">
                {{ form_label(passwordForm.newPassword) }}
                {{ form_widget(passwordForm.newPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(passwordForm.newPassword) }}
            </div>
            <div class="input-group input-group-outline">
                {{ form_label(passwordForm.repeatPassword) }}
                {{ form_widget(passwordForm.repeatPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(passwordForm.repeatPassword) }}
            </div>
            <h5 class="mt-5">Password requirements</h5>
            <p class="text-muted mb-2">
                Please follow this guide for a strong password:
            </p>
            <ul class="text-muted ps-4 mb-0 float-start">
                <li>
                    <span class="text-sm">One special characters</span>
                </li>
                <li>
                    <span class="text-sm">Min 6 characters</span>
                </li>
                <li>
                    <span class="text-sm">One number (2 are recommended)</span>
                </li>
                <li>
                    <span class="text-sm">Change it often</span>
                </li>
            </ul>
            <button type="submit" class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">Update password</button>
        </div>
    {{ form_end(passwordForm) }}
</div>
<!-- Card Change Password -->