<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="material-icons py-2">settings</i>
    </a>
    <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
            <div class="float-start">
                <h5 class="mt-3 mb-0">Rychlá konfigurace</h5>
                <p>Změňte rychle své předvolby</p>
            </div>
            <div class="float-end mt-4">
                <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
            <!-- Sidenav Type -->
            <div class="mt-3">
                <h6 class="mb-0">Motiv levého menu</h6>
                <p class="text-sm">Vyberte si ze tří druhů postranního menu</p>
            </div>
            <div id="sidebarType" class="d-flex">
                <button class="btn bg-gradient-dark px-3 mb-2 {{ app.user.isAppSidebarTypeActive('dark') ? 'active' : '' }}" data-class="bg-gradient-dark" data-action="click->hello#sidebarType">Tmavý</button>
                <button class="btn bg-gradient-dark px-3 mb-2 ms-2 {{ app.user.isAppSidebarTypeActive('auto') ? 'active' : '' }}" data-class="bg-transparent" data-action="click->hello#sidebarType">Průhledný</button>
                <button class="btn bg-gradient-dark px-3 mb-2 ms-2 {{ app.user.isAppSidebarTypeActive('light') ? 'active' : '' }}" data-class="bg-white" data-action="click->hello#sidebarType">Světlý</button>
            </div>
            <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
            <!-- Navbar Fixed -->
{#            <div class="mt-3 d-flex">#}
{#                <h6 class="mb-0">Navbar Fixed</h6>#}
{#                <div class="form-check form-switch ps-0 ms-auto my-auto">#}
{#                    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">#}
{#                </div>#}
{#            </div>#}
            <hr class="horizontal dark my-3">
            <div class="mt-2 d-flex">
                <h6 class="mb-0">Široké menu</h6>
                <div class="form-check form-switch ps-0 ms-auto my-auto">
                    <input class="form-check-input mt-1 ms-auto" checked="{{ app.user.appSidebarSpread ? '' : 'checked' }}" type="checkbox" id="navbarMinimize" data-action="click->hello#navbarMinimize">
                </div>
            </div>
            <hr class="horizontal dark my-3">
            <div class="mt-2 d-flex">
                <h6 class="mb-0">Světlý / Tmavý mód</h6>
                <div id="dark-mode-checkbox" class="form-check form-switch ps-0 ms-auto my-auto" data-controller="darkmode" {{ app.user and app.user.appDesign.value == 'dark' ? 'data-darkmode="true" checked="true"' : 'data-darkmode="false"' }}>
                    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" data-action="click->darkmode#darkMode">
                </div>
            </div>
            <hr class="horizontal dark my-sm-4">
            <a class="btn bg-gradient-info w-100" href="javascript:">Nastavení</a>
            <a class="btn btn-outline-dark w-100" href="javascript:">Dokumentace</a>
            <div class="w-100 text-center">
                <h6 class="mt-3">Rychlý výběr</h6>
                <a href="{{ path('app_logout') }}" class="btn btn-dark mb-0 me-2">
                    Odhlásit se
                </a>
                <a href="javascript:" class="btn btn-dark mb-0 me-2">
                    Ukončit
                </a>
            </div>
        </div>
    </div>
</div>