{% block aside %}
    <aside data-turbo="true" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-{{ app.user.appSidebarClass }}" id="sidenav-main" style="overflow: hidden">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="{{ path('app_dashboard') }}">
                <img src="{{ asset('build/images/logo/logo-ct-dark.svg') }}" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">Ayda</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main" style="overflow: hidden;">
            {{ knp_menu_render('sidebar') }}
        </div>
{#        <div class="sidenav-header position-absolute w-100 bottom-0">#}
{#            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>#}
{#            <a class="navbar-brand m-0" style="display: flex;" href="{{ path('app_logout') }}">#}
{#                <i class="fas fa-sign-out-alt material-icons-round opacity-10"></i>#}
{#                <img src="{{ asset('build/images/logo/logo-ct.svg') }}" class="navbar-brand-img h-100" alt="main_logo">#}
{#                <span class="ms-1 font-weight-bold text-white">Odhlásit se</span>#}
{#            </a>#}
{#        </div>#}
        <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            <div class="mx-3">
                <a class="btn btn-outline-primary mt-4 w-100" style="padding-left: 0; padding-right: 0;" href="{{ path('app_logout') }}" type="button"><i class="fas fa-sign-out-alt"></i></a>
                <a class="btn bg-gradient-secondary w-100" style="padding-left: 0; padding-right: 0;" href="javascript:" type="button"><i class="fas fa-cog"></i><b class="caret"></b></a>
            </div>
        </div>
    </aside>
{% endblock %}