<!DOCTYPE html>
<html lang="cz">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ayda{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo/logo-ct.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Material Icons TODO::Delte after adding fontawesome icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
        <script src="https://kit.fontawesome.com/05c0bf8e9c.js" crossorigin="anonymous"></script>

        {% block head %}
            {# Custom head addons #}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="g-sidenav-show bg-gray-200 g-sidenav-{{ app.user and app.user.appSidebarSpread ? 'pinned' : 'hidden' }} {{ app.user ? app.user.appDesign.value ~ '-version' }}" data-controller="hello">
        {% block aside %}
            {% include('shared/aside/sidebar/sidebar.html.twig') %}
        {% endblock %}
        <div class="{% block mainstyles %}main-content position-relative max-height-vh-100 h-100 border-radius-lg{% endblock %}">
            {% block navbar %}
                {% include('shared/aside/navbar/navbrar.html.twig') %}
                {# Here you can modify navbar #}
            {% endblock %}

            <div class="position-fixed bottom-1 end-1 z-index-2">
                {% set flashesSuccess = app.flashes('success') %} {# Must set as a variable, because one use of app.flashes('type') flushes whole flash message #}
                {% if flashesSuccess %}
                    <div class="toast fade hide p-2 bg-white" role="alert" aria-live="assertive" id="successToast" aria-atomic="true" data-alert="successToast">
                        <div class="toast-header border-0">
                            <i class="material-icons text-success me-2">
                                check
                            </i>
                            <span class="me-auto font-weight-bold">Ayda system notification</span>
                            <small class="text-body">{{ flashesSuccess|length }} notifications</small>
                            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
                        </div>
                        <hr class="horizontal dark m-0">
                        <div class="toast-body">
                            {% for message in flashesSuccess %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% set flashesError = app.flashes('error') %} {# Must set as a variable, because one use of app.flashes('type') flushes whole flash message #}
                {% if flashesError|length %}
                    <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true" data-alert="dangerToast">
                        <div class="toast-header border-0">
                            <i class="material-icons text-danger me-2">
                                campaign
                            </i>
                            <span class="me-auto text-gradient text-danger font-weight-bold">Ayda system notification</span>
                            <small class="text-body">{{ flashesError|length }} errors</small>
                            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
                        </div>
                        <hr class="horizontal dark m-0">
                        <div class="toast-body">
                            {% for message in flashesError %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% set flashesWarning = app.flashes('warning') %} {# Must set as a variable, because one use of app.flashes('type') flushes whole flash message #}
                {% if flashesWarning|length %}
                    <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true" data-alert="warningToast">
                        <div class="toast-header border-0">
                            <i class="material-icons text-warning me-2">
                                travel_explore
                            </i>
                            <span class="me-auto font-weight-bold">Ayda system notification</span>
                            <small class="text-body">{{ flashesWarning|length }} warnings</small>
                            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
                        </div>
                        <hr class="horizontal dark m-0">
                        <div class="toast-body">
                            {% for message in flashesWarning %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% set flashesInfo = app.flashes('info') %} {# Must set as a variable, because one use of app.flashes('type') flushes whole flash message #}
                {% if flashesInfo|length %}
                    <div class="toast fade hide p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true" data-alert="infoToast">
                        <div class="toast-header bg-transparent border-0">
                            <i class="material-icons text-white me-2">
                                notifications
                            </i>
                            <span class="me-auto text-white font-weight-bold">Ayda system notification</span>
                            <small class="text-white">{{ flashesInfo|length }} info</small>
                            <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
                        </div>
                        <hr class="horizontal light m-0">
                        <div class="toast-body text-white">
                            {% for message in flashesInfo %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            {% block body %}
                {# Main content of application #}
            {% endblock %}

            {% block footer %}
                {% include('shared/footer/footer.html.twig') %}
                {# Here you can modify footer #}
            {% endblock %}
        </div>
        {% block rightbar %}
            {% include('shared/aside/rightbar/rightbar.html.twig') %}
            {# Here you can modify rightbar #}
        {% endblock %}

        {% block footerscripts %}
            <script src="{{ asset('build/js/material-dashboard/core/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/countup.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/world.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/core/popper.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/perfect-scrollbar.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/smooth-scrollbar.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/dragula.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/chartjs.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/choices.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                // When input is focused add focused class for style
                function focused(el) {
                    if (el.parentElement.classList.contains('input-group')) {
                        el.parentElement.classList.add('focused');
                    }
                }

                // When input is focused remove focused class for style
                function defocused(el) {
                    if (el.parentElement.classList.contains('input-group')) {
                        el.parentElement.classList.remove('focused');
                    }
                }
            </script>

            {# <script async src="https://buttons.github.io/buttons.js"></script>#}
            {# <script src="{{ asset('build/js/material-dashboard/material-dashboard.js') }}" type="text/javascript"></script>#}
            {# <script src="{{ asset('build/js/material-dashboard/plugins/bootstrap-notify.js') }}" type="text/javascript"></script> #}
        {% endblock %}
    </body>
</html>