<!DOCTYPE html>
<html lang="cz">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ayda{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo/logo-ct.png') }}">
        <!-- Material Icons TODO::Delte after adding fontawesome icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

        {% block head %}
            {# Custom head addons #}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="g-sidenav-show bg-gray-200 g-sidenav-hidden" data-controller="hello">
        {% block aside %}
            {# Left aside menu #}
        {% endblock %}
        <main class="{% block mainstyles %}main-content position-relative max-height-vh-100 h-100 border-radius-lg {% endblock %}">
            {% block navbar %}
                {% include('shared/aside/navbar/navbrar.html.twig') %}
                {# Here you can modify navbar #}
            {% endblock %}

            {% block body %}
                {# Main content of application #}
            {% endblock %}

            {% block footer %}
                {% include('shared/footer/footer.html.twig') %}
                {# Here you can modify footer #}
            {% endblock %}
        </main>
        {% block rightbar %}
            {% include('shared/aside/rightbar/rightbar.html.twig') %}
            {# Here you can modify rightbar #}
        {% endblock %}

        {% block footerscripts %}
            <script src="{{ asset('build/js/material-dashboard/core/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/countup.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/world.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/core/popper.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/perfect-scrollbar.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/smooth-scrollbar.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/dragula.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/jkanban.js') }}" type="text/javascript"></script>
            <script src="{{ asset('build/js/material-dashboard/plugins/chartjs.min.js') }}" type="text/javascript"></script>
            <script async src="https://buttons.github.io/buttons.js"></script>
            {# <script src="{{ asset('build/js/material-dashboard/material-dashboard.js') }}" type="text/javascript"></script>#}
            {# <script src="{{ asset('build/js/material-dashboard/plugins/bootstrap-notify.js') }}" type="text/javascript"></script> #}
        {% endblock %}
    </body>
</html>