{# Specific menu list item #}

{# First level #}
{#<a class="nav-link text-white {{ active ? 'active bg-gradient-primary' : '' }}" href="{{ link }}">#}
{#    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">#}
{#        <i class="material-icons opacity-10">{{ icon }}</i>#}
{#    </div>#}
{#    <span class="nav-link-text ms-1">{{ name }}</span>#}
{#</a>#}

{# Second level #}
<a class="nav-link text-white {{ active ? 'active bg-gradient-primary' : '' }}" href="{{ link }}">
    <span class="sidenav-mini-icon"> P </span>
    <span class="sidenav-normal  ms-2  ps-1"> {{ name }} <b class="caret"></b></span>
</a>